html, body {
  background-color: rgb(124, 81, 161);
  color:white;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

.modal {
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
  }

.title{
  text-align:center;
  padding: 7% 0 5% 0;
  font-family: 'Raleway', sans-serif;
}

p{
  text-align: justify;
  padding-left: 6%;
  padding-right: 6%;
  font-family: 'Raleway', sans-serif;
  
}

